*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background: #D9DBF1;
    font-family: 'kyrial-display-pro',sans-serif;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
}

.clear-section {
    width: 100%;
    height: 375px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.green-section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: forestgreen;
}

input,
button,
select,
p {
    text-align: center;
    font-family: 'kyrial-display-pro',sans-serif;
    font-weight: 700;
    color: forestgreen;
    cursor: pointer;
    margin: 0.25em;
}
  
h3 {
    margin: 0.15em 0 0;
    color: ghostwhite;
    font-family: 'bree', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.dropdown-container {
    display: flex;
    color: dodgerblue;
}

.slogan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

label {
    margin: 10px;
}

.climate-container,
.mountain-container,
.cityscape-container,
.sign-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
}

.climate-container {
    bottom: 150px;
    right: 500px;
}

.mountain-container {
    bottom: 0;
}

.cityscape-container {
    bottom: -50px;
    z-index: 5;
}

.sign-container {
position: absolute;
left: 850px;
bottom: -35px;
}

.sign-container::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 85px;
    background: #CCC9E7;
    border: 3px solid #59656F;
    border-top: none;
    border-radius: 0 0 3px 3px;
    position: relative;
    right: 100px;
    bottom: -88px;

}

.struct-flex {
    display: flex;
    align-items: flex-end;
    margin: 0 10px;
}

.structure-large {
    width: 70px;
    height: 250px;
    background: darkgoldenrod;
    border: 3px solid dimgray;
    border-radius: 5px;
    box-shadow: -5px 5px #3d3d3d,
                inset -3px 3px gainsboro;
    justify-content: center;
    margin: 0 5px;
}

.structure-medium {
    width: 75px;
    height: 150px;
    background: dodgerblue;
    border: 3px solid dimgray;
    border-radius: 5px;
    box-shadow: -5px 5px #3d3d3d,
                inset -3px 3px gainsboro;
    margin: 0 5px;
}

.structure-small {
    width: 85px;
    height: 65px;
    background: violet;
    border: 3px solid dimgray;
    border-radius: 5px;
    box-shadow: -5px 5px #3d3d3d,
                inset -3px 3px gainsboro;
    margin: 0 5px;
}

.mountain2 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: solid lightsteelblue 250px;
    margin: 0 5px;
}

.mountain3 {
    width: 0;
    height: 0;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: solid lavender 200px;
    margin: 0 5px;
}

.mountain1 {
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: solid cornflowerblue 300px;
    margin: 0 5px;
}

.mountain-center {
    z-index: 2;
}

.cloud {
    width: 250px;
    height: 85px;
    background: aliceblue;
    border-radius: 50px;
    box-shadow: 3px 3px 3px dimgray,
                inset -2px -2px 3px lightskyblue;
    position: relative;
    z-index: 1;
}

.cloud::before {
    content: '';
    display: inline-block;
    background: aliceblue;
    width: 85px;
    height: 85px;
    position: relative;
    bottom: 40px;
    left: 35px;
    border-radius: 50%;
}

.cloud::after {
    content: '';
    display: inline-block;
    background: aliceblue;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 40px;
    left: 20px;
    border-radius: 50%;
}

.rain-cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raindrops {
    width: 150px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 0;
}

.rain {
    width: 20px;
    height: 20px;
    background: dodgerblue;
    box-shadow: inset -2px -2px 2px darkblue;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
    margin: 5px 15px;
}

.sun {
    width: 200px;
    height: 200px;
    background: goldenrod;
    box-shadow: inset 0px 0px 25px 20px gold;
    border-radius: 50%;
}

.sign-board {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    color: ghostwhite;
    font-size: 1em;
    background: #9FC490;
    border: 5px solid #C0DFA1;
    border-radius: 1em;
    align-items: center;
}

#statistics p {
    position: relative;
    top: 30px;
    color: aliceblue;
}

.visibility {
    display: none;
}


@media only screen and (max-width: 650px) {
    /* Don't even attempt it */
}